<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>probable-tribble</title>

</head>
<body>
    {% include 'header.html' %}

    <div class="row flex-fill">
        <div class="col-sm-12">
            <center>
            <h1>homepage</h1>
            <a href="search">search</a></center>
            <div>
                As an "maker", I like to build things. As a human, I want to improve the lives of other humans.
                I worked with three other Princeton students and Fair Share Housing Center of NJ to build an
                <a href="https://fairsharehousing4.herokuapp.com/">affordable housing search tool</a> this past semester.
                I really enjoyed this work, as it allowed me to combine my love of computer science and my desire to
                help others. After completing this very fulfilling project, I was curious to see if there was more work
                I could be doing to help other nonprofits.<br>
                Then, it hit me. The light bulb turned on. There must be other qualified CS students, both at Princeton
                and elsewhere, who felt the same way. And what's a better use of my time -- to help one nonprofit at a time?
                or, to build a platform which could connect nonprofits in need of technical assistance
                (building websites, running analyses, etc.) to CS students with some time on their hands and a desire in
                their hearts to make change?<br>
                And thus, this website was created. What you see now is a rough mock-up I made for this platform.<br>
                I would be absolutely thrilled to apply my maker mindset to a Tiger Challenge this summer.
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

</body>
</html>