<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>izaller - Tiger Challenge</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="row">
        <div class="col">
            <div class="container" style="width:70%">
                <div class="input-group">
                   <input type="search" class="form-control rounded" placeholder="Search Postings" aria-label="Search"
                    aria-describedby="search-addon" />
                  <button type="button" class="btn btn-outline-primary">search</button>
                </div>
            </div>
        </div>
    </div>

    {% for l in listings: %}
        <div class="container p-2 m-3">
            <a href="details" target="_blank">Job {{l}}: Web developer with nonprofit</a>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col">

        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>